<div class="row medium-12 large-12">
<% if @word.traditional %>
  <h1 class="text-center"><%= "#{@word.traditional}-#{@word.simplified}" %></h1>
<% else %>
  <h1 class="text-center"><%= @word.try(:simplified) %></h1>
<% end %>
<p class="text-center"><%= @word.try(:pinyin) %> </p>
<p class="text-center"><%= @word.try(:definition) || 'no definition found' %> </p>
  <div class="columns small-centered text-center">
    <%= link_to 'Reload', root_path, class: "button success [radius round]" %>
  </div>
</div>
