<% if @word.traditional %>
  <h1><%= "#{@word.traditional}-#{@word.simplified}" %></h1>
<% else %>
  <h1><%= @word.try(:simplified) %></h1>
<% end %>
<p><%= @word.try(:pinyin) %> </p>
<p><%= @word.try(:definition) || 'no definition found' %> </p>
<%= link_to 'Reload', w_url %>
